#game {
	*{
		margin: 30px;
		padding: 0;
		box-sizing: border-box;
	}
	
	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: #000000;
	}
	
	main:focus {
		outline-width: 0;
	}
	
	canvas {
		width: 70vw;
		height: 70vh;
		margin-top: 40px;
		border: 1.5px solid #FFFFFF;
		border-radius: 20px;
	}
	
	#instructions {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.commands {
		height: 90px;
		margin: 0 5px;
		padding: 34px 30px;
		color: #FFFFFF;
		font-family: "VT323", sans-serif;
		font-size: 22px;
		letter-spacing: 0.5px;
		text-align: center;
		text-transform: uppercase;
		border: 1px solid #FFFFFF;
		border-radius: 5px;
	}
	
	kbd {
		margin-right: 10px;
		padding: 5px 15px;
		color: #000000;
		font-family: "Helvetica", sans-serif;
		font-size: 20px;
		background-color: #000000;
		border: 1px solid #FFFFFF;
		border-radius: 3px;
	}
	
	.volume {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #FFFFFF;
		font-size: 40px;
	}
	
	.fa-volume-mute, .fa-volume-up, .fa-music {
		padding: 0 15px;
		cursor: pointer;
	}
	
	.fa-music.mute::after {
		content: "";
		background-color: #FFFFFF;
		height: 55px;
		width: 5px;
		position: absolute;
		border-radius: 10px;
		transform: rotate(-55deg) translate(-95%, -35%);
	}
	
	#alert {
		display: none;
	}
	
	/* RESPONSIVE */
	@media screen and (max-width: 1025px) {
		canvas{
			height: 80vh;
		}

		#instructions {
			display: none;
		}

		.volume {
			display: none;
		}

		#alert {
			width: 100vw;
			height: 220px;
			padding: 0 25px;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #FFFFFF;
			font-family: "VT323", sans-serif;
			font-size: 25px;
			text-align: center;
			text-transform: uppercase;
			background-color: #000000;
		}
	}
}