<div class="play">
  <mat-toolbar>
    <span>{{ shortenedWalletAddress }}</span>
    <span class="spacer"></span>
  
    <!-- Content displayed to the right of the toolbar goes here -->
    <button mat-button (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-toolbar>
  
  <div id="main">
    <div id="ship-selection" *ngIf="!selectedShip">
      <ships
        [ships]="nfts"
        (shipSelected)="selected($event)"
      ></ships>
    </div>
    <game
      *ngIf="selectedShip"
      [selectedShip]="selectedShip"
    ></game>
  </div>
</div>
