.ship {
	margin: 20px;
	width: 250px;

	mat-card-title {
		font-weight: bold;
	}

	img {
		margin-top: 15px;
	}

	mat-card-footer {
		padding: 5px;
	}

	&:hover {
		cursor: pointer;
	}

	mat-card {
		background-color: #000000;
		color: #FFFFFF;
		border: 1px solid #FFFFFF;
	}

	mat-card-subtitle {
		color: #FFFFFF;
	}

	mat-card:hover {
		outline: 3px solid teal;
		cursor: pointer;
	}
}
